@page "/LogisticaTrans"
<link href="css/LogicaTrans.css" rel="stylesheet" />

<!-- Contenedor de botones -->
<div class="grid-container">
    <div class="grid-item">
        <a class="btn-reservaciones" href="/VerReservarcion">
            📅Reservaciones
        </a>
    </div>
    <div class="grid-item">
        <a class="btn-vehiculos" href="/VehiculosListAsignacion">
            🚗 Ver Vehículos
        </a>
    </div>
    <div class="grid-item">
        <a class="btn-colaboradores" href="/ListaColaboradores">
            👥 Ver Colaboradores
        </a>
    </div>

    <div class="grid-item">
        <a class="btn-colaboradores" href="/garita-notifications">
            👥 NotificacionesGarita
        </a>
    </div>

    <div class="grid-item">
        <a class="btn-colaboradores" href="/login">
            👥 Finalizar
        </a>
    </div>
</div>

<!-- Contenedor de imagen debajo de los botones -->
<div class="image-container">
    <img src="images/Imagen de WhatsApp 2024-10-14 a las 23.28.10_c19e9f5a.jpg" alt="Descripción de la imagen" />
</div>

